body {
  font-family: "RocknRoll One", sans-serif;
  background-color: #ff914d;
}

section {
  background-color: #ff914d;
}
/* Score Counter*/
.score-counter {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
}
.score {
  background-color: #ff914d;
}
.score > h3 {
  margin-left: 0;
  margin-right: auto;
  width: 75px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
.score > h3 > span {
  font-size: 48px;
}
.counter {
  text-align: right;
}
.counter > h3 {
  margin-left: auto;
  margin-right: 0;
  width: 75px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}
.counter > h3 > span {
  font-size: 48px;
}
/* Title*/

.title {
  font-family: "Bebas Neue";
  font-size: 62px;
  color: white;
  display: grid;
  grid-template-columns: 2fr;
  background-color: black;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 20px;
}
/* Quote*/
.quote {
  font-size: 24px;
  color: #ff914d;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 50px;
}
/* Contestant*/
.contestant {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  
}

.ron,
.kanye,
.trump {
  /* left: 50%;
  transform: translateX(-50%); */
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid black;
}
.rounded-circle {
  width: auto;
  height: 100%;
  margin-left: -40px;
}
.ron:hover,
.kanye:hover,
.trump:hover {
  border: 4px solid #808080;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
}
.ron img {
  margin-left: -80px;
}
.names {
  text-align: center;
  display: flex;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

h3 {
  border: 2px solid black;
}

.correct {
  border: 4px solid #00ff00;
  -webkit-box-shadow: 3px 3px 5px 6px #00ff00; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #00ff00; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #00ff00;
}
.correct:hover {
  border: 4px solid #00ff00;
  -webkit-box-shadow: 3px 3px 5px 6px #00ff00; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #00ff00; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #00ff00;
}

.wrong {
  border: 4px solid #ff0000;
  -webkit-box-shadow: 3px 3px 5px 6px #ff0000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ff0000; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ff0000;
}
.wrong:hover {
  border: 4px solid #ff0000;
  -webkit-box-shadow: 3px 3px 5px 6px #ff0000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ff0000; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ff0000;
}

.button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  
}

#overlay {
  justify-content: center; 
  align-items: center;
  text-align: center;
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */

}


#login {
  display: flex;
  border: groove;
  border-radius: 5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #ff914d;
  height: 400px;
  width: 200px;
  gap: 8px;
  color: white;
}

@media screen and (max-width: 992px) {
  .title {
    font-size: 20px;
  }

  .names {
    display: none;
  }

  .ron,
  .kanye,
  .trump {
  
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid black;
  }

  .quote {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }
}